<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Alunos</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">  
</head>
<body style="background-color: #e9e9e9;">
    
    <!-- Cabeçalho -->
    <h1 class="p-3 text-center text-light" style="background-color: black;">Cadastro de alunos</h1>

    <!-- Conteúdo -->
    <div class="container bg-light p-5 mt-5" style="border-radius: 30px;">
    <form th:action="@{/alunos/salvar}" method="post" th:object="${aluno}">

        <input type="hidden" name="idAluno" th:field="*{idAluno}" />
        
        <label for="nomeAluno">Nome:</label>
        <input type="text" name="nomeAluno" th:field="*{nomeAluno}" />
        <br>

        <label for="telefoneAluno">Telefone:</label>
        <input type="text" name="telefoneAluno" th:field="*{telefoneAluno}" />
        <br>

        <label for="enderecoAluno">Endereço:</label>
        <input type="text" name="enderecoAluno" th:field="*{enderecoAluno}" />
        <br>

        <label for="cpfAluno">RM:</label>
        <input type="text" name="rmAluno" th:field="*{rmAluno}" />
        <br>

        <label for="cpfAluno">CPF:</label>
        <input type="text" name="cpfAluno" th:field="*{cpfAluno}" />
        <br>    

        <label for="idCidade">Cidade:</label>
        <select th:field="*{cidade}">
            <option th:each="cidade : ${cidades}"
                th:text="${cidade.nomeCidade}"
                th:value="${cidade.idCidade}" </option>
        </select> <br>  

        <label for="idCurso">Curso:</label>
        <select th:field="*{curso}">
            <option th:each="curso : ${cursos}"
                th:text="${curso.nomeCurso}"
                th:value="${curso.idCurso}" </option>
        </select>
        <br>

        <button type="submit">Salvar</button>

    </form>
    </div>

</body>
</html>