<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documento</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">  
</head>
<body style="background-color: #e9e9e9;">

    <!-- Cabeçalho -->
    <h1 class="p-3 text-center text-light" style="background-color: black;">Lista de cursos</h1>

    <!-- Conteúdo -->
    <div class="container p-3 mt-5 bg-light text-center" style="border-radius: 30px;">

        <!-- Botão Cadastrar -->
        <button type="button" class="btn btn-dark p-3 mb-2" style="border-radius: 60px;"><a href="/cursos/criar" style="text-decoration: none; color: white;">Cadastrar</a></button> <br>

        <br>

        <!-- Tabela para exibir os cursos cadastrados -->
        <table style="margin: 0 auto; border: 1px solid black; border-collapse: collapse;">
            <tr>
                <td colspan="8" style="text-align: center;">Lista de cursos</td>
            </tr>

            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Sigla</th>
                <th>Carga horária</th>
                <th>Período</th>
                <th colspan="2">Ações</th>
            </tr>

            <tr th:each="curso : ${cursos}">
                <td th:text="${curso.idCurso}"></td>
                <td th:text="${curso.nomeCurso}"></td>
                <td th:text="${curso.siglaCurso}"></td>
                <td th:text="${curso.chCurso}"></td>
                <td th:text="${curso.periodoCurso}"></td>
                <td>
                    <a th:href="@{/cursos/editar/{id}(id=${curso.idCurso})}">Editar</a>
                    <a th:href="@{/cursos/excluir/{id}(id=${curso.idCurso})}">Excluir</a>
                </td>
            </tr>
        </table>
    </div>

</body>
</html>