<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulário Curso</title>
    <link rel="stylesheet" href="/css/estilo.css">
  </head>
  <body>
    <h1>Cadastro de Usuário</h1>
 
    <form th:action="@{/usuarios/salvar}" th:object="${usuario}" method="post">
        <input type="hidden" th:field="*{idUsuario}" />
 
        <label>Nome:</label>
        <input type="text" th:field="*{nomeUsuario}" /><br/>
 
        <label>Email:</label>
        <input type="email" th:field="*{cpfUsuario}" /><br/>
 
        <label>Login:</label>
        <input type="text" th:field="*{login}" /><br/>
 
        <label>Senha:</label>
        <input type="password" th:field="*{senha}" /><br/>
 
     
        <button type="submit">Salvar</button>
    </form>
 
    <a th:href="@{/usuarios/listar}">Voltar</a>
</body>
</html>