<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Alunos</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body style="background-color: #e9e9e9;">

    <!-- Cabeçalho -->
    <h1 class="p-3 text-light" style="text-align: center; background-color: black;">Sistema Escolar</h1>

    <!-- Conteúdo -->
    <div class="container bg-light p-3 mt-5 mb-5 text-center" style="border-radius: 30px;">
        
        <!-- Botão Gerenciar Alunos -->
        <button type="button" class="btn btn-dark p-3 mb-3" style="border-radius: 60px;"><a href="/alunos/listar" style="text-decoration: none; color: white;">Gerenciar Alunos</a></button> <br>

        <!-- Botão Gerenciar Cursos -->
        <button type="button" class="btn btn-dark p-3" style="border-radius: 60px;"><a href="/cursos/listar" style="text-decoration: none; color: white;">Gerenciar Cursos</a></button>    
    </div>

</body>
</html>