<html lang="pt-br">
<head>
    <title>Sistema Escola</title>
</head>
<body>
    <h1 style="text-align: center;">Sistema Escola</h1>
    <h2 style="text-align: center;">Sistema Acadêmico</h2>
    <div style="text-align: center;">
        <form action="/login" method="get" style="display: inline;">
            <button type="submit">Login</button>
        </form>
        <form action="/usuarios/criar" method="get" style="display: inline;">
            <button type="submit">Cadastre-se</button>
        </form>
    </div>
</body>
</html>