<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Alunos</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body style="background-color: #e9e9e9;">

    <!-- Cabeçalho -->
    <h1 class="p-3 bg-dark text-light" style="text-align: center;">Sistema Escolar</h1>

    <!-- Conteúdo -->
    <div class="container bg-light p-5 mt-5" style="border-radius: 10px;">
        <h3 style="text-align: center;"><a href="/alunos/listar">Gerenciar Alunos</a></h3>
        <h3 style="text-align: center;"><a href="/cursos/listar">Gerenciar Cursos</a></h3>
    </div>

</body>
</html>